#blocb
{
	box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	display: inline-block;
	width: 245px;
	background-color: white;
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	height: 323px;
	margin: 25px;
	padding:5px;
}
#imgb
{
	margin-top:10px;
}
#descb
{
	height:93px;
	width:220px;
	overflow: auto;
	margin-top:10px;
	margin-bottom:10px;
}
#categorie
{
	box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	width: 560px;
	margin: auto;
	padding: 5px;
}